<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- Trailer Video Modal -->
    <div class="modal" id="trailer">
      <div class="modal-dialog">
        <div class="modal-content">
          <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true">
            <img src="https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24"/>
          </a>
          <div class="scale-media" id="trailer-video-container">
          </div>
        </div>
      </div>
    </div>

    <!-- Main Page Content -->
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Fresh Tomatoes Movie Trailers</a>
          </div>
        </div>
      </div>
    </div>
    <img src="https://dl.dropboxusercontent.com/u/28011407/Pictures/fresh_tomatoes/banner.png" style="display:block; margin:0 auto;"/>
    <div style="width:100%; text-align:right; font-size: 20px;">By: Jason van Biezen</div>
    <div class="container">
      {movie_tiles}
    </div>
    <footer class="container-fluid" style="height:24px;line-height:20px;background:darkgray;color:white;">
      Copyright &copy; Jason van Biezen {year}
    </footer>
  </body>
</html>

